#outerMenu
{
	border-width: small;
	border-spacing: 1px;
	border-style: solid;
	border-color: black;
	border-collapse: separate;
	background-color: rgb(230, 230, 255);
}

#table0
{
	border-width: 3px;
	border-spacing: 2px;
	border-style: solid;
	border-color: black; //rgb(238, 58, 59);
	border-collapse: collapse;
	background-color: rgb(230, 230, 255);
}