#background
{
        background-image: url(images/background.jpg);
        background-attachment: fixed;
	background-repeat: no-repeat
}

#outerMenu
{
	border-width: small;
	border-spacing: 1px;
	border-style: solid;
	border-color: black;
	border-collapse: collapse;
	background-color: rgb(230, 230, 255);
}

#table0
{
	border-width: 3px;
	border-style: solid;
	border-color: black;
	border-collapse: collapse;
	background-color: rgb(230, 230, 255);
}

#table0 td
{
	padding: 10px 5px;
}
